
@{
    ViewBag.Title = "Operaciones";
}

<h2>Operaciones</h2>

<div>
    @using (Html.BeginForm())
            {
                <span>Ingrese el valor: </span>
                @Html.TextBox("numero", 0, htmlAttributes: new {type="number"}) //<input type="number" />
                <button>Calcular</button>
            }
</div>

<div>
    <p>Cantidad de divisores: @ViewBag.CantidadDivisores</p>
    <p>Suma de divisores: @ViewBag.SumaDivisores</p>
    <p>Suma de Digitos: @ViewBag.SumaDigitos </p>
</div>